.home--banner {
  padding: 3rem 0;
  position: relative;
}

.home--banner:before {
  content: '';
  background: url('/images/banner-mask.png') center top no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-position: 50% 102%;
}

@media (max-width: 1024px) {
  .home--banner:before {
    background-position: 0;
    background: transparent;
  }
}

.background-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background-video video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.home--banner .container {
  padding: 49rem 4rem 5rem 1rem;
  z-index: 2;
  width: 90%;
  max-width: 1300px;
}

.home--banner .PageHeader--Title {
  color: black;
  position: relative;
  text-align: center;
  max-width: 385px;
  font-size: 45px;
  margin: 0 0 0 15%;
}
.home--banner .container .Button {
  margin: 3rem auto 0 23%;
}

@media (max-width: 1440px) {
  .home--banner .PageHeader--Title {
    margin: 0 0 0 10%;
  }
  .home--banner .container .Button {
    margin: 3rem 0 0 18%;
  }
}
@media (max-width: 1200px) {
  .home--banner .PageHeader--Title {
    margin: 0 0 0 6%;
  }
  .home--banner .container .Button {
    margin: 3rem 0 0 14%;
  }
}
@media (max-width: 1024px) {
  .home--banner .PageHeader--Title {
    margin: 0 0 0 1rem;
    text-align: left;
  }
  .home--banner .container .Button {
    margin: 3rem 0 0 1rem;
  }
}
@media (max-width: 650px) {
  .home--banner .PageHeader--Title {
    font-size: 3rem !important;
  }
  .home--banner .container {
    padding: 39rem 4rem 5rem 1rem;
  }
  .home--banner .container .Button {
    margin: 1rem 0 0 1rem;
  }
}
@media (max-width: 650px) {
  .home--banner .container {
    padding: 20rem 4rem 5rem 1rem;
  }
}

.home--banner .PageHeader--Title:after {
  display: none;
}

.PageHeader--home .PageHeader--Button {
  margin: 4rem auto 0 3rem;
  position: relative;
}

.TeamSection {
  position: relative;
}

.TeamSection--Content {
  margin-bottom: 4rem;
  position: relative;
}

.BenfitsSection .BackgroundImage {
  background-repeat: no-repeat;
  position: relative;
  color: var(--col1);
}

.BenfitsSection .container .flex {
  margin: 0 auto;
}

.PartnersSection {
  padding-top: 0rem;
}

.PartnersSection .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PartnersSection--Logo {
  display: inline-block;
  height: 80px;
  width: 15%;
  position: relative;
  margin: 2rem;
}

.PartnersSection--Logo .BackgroundImage {
  background-size: contain !important;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.PartnersSection--Logo:hover .BackgroundImage {
  transform: translateY(-1px);
}

.afterTitle {
  font-size: 58px !important;
}
.BenfitsSection--Benfit {
  padding: 0 1rem 4rem 0;
}

.BannerSection--Description {
  min-height: 60px;
  max-width: 516px;
  opacity: 0.9;
  color: #ffffff;
  font-family: 'Avenir Next';
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.VideoSection video {
  max-width: 45%;
}

.ProjectsSection {
  padding-bottom: 0rem !important;
}

@media (max-width: 500px) {
  .TeamSection--Content {
    margin-bottom: 0rem;
  }
}

@media (max-width: 370px) {
  .afterTitle {
    font-size: 3rem !important;
  }
}

.BenfitsSection--Benfit .one-quarter {
  height: 5rem;
}

.VideoSection {
  background-color: var(--darkGrey);
  margin-top: 5rem;
  color: white;
  padding: 5rem 3rem;
}

@media (max-width: 700px) {
  .VideoSection .container {
    flex-direction: column;
  }

  .video-introduction {
    max-width: 90% !important;
    text-align: center;
  }
  .Home .VideoSection video,
  .VideoSection video {
    max-width: 100%;
  }
}

.video-introduction {
  max-width: 45%;
}

.VideoSection .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PartnersSection--Logo img {
  max-width: 70%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
