.SingleProject {
}

.SingleProject--BackButton {
  color: white;
  position: absolute;
  top: 5rem;
  left: 5rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  z-index: 2;
}

@media (max-width: 500px) {
  .SingleProject .PageHeader--Subtitle {
    padding: 4rem;
    font-size: 2.2rem !important;
  }
}

@media (max-width: 700px) {
  .ClientFeedback {
    width: 100% !important;
  }
}

.SingleProject--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SingleProject--BackButton:hover svg,
.SingleProject--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.ClientFeedback {
  background: linear-gradient(to right, var(--darkGrey) 50%, white 50%);
}

.ClientFeedback--MainTitle {
  width: 42.5%;
  color: white;
  font-size: 6rem;
}

.ClientFeedback--Content {
  width: 57.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.ClientFeedback--Content .profilePic {
  position: relative;
  width: 15rem;
  height: 15rem;
}
.ClientFeedback--Content .info {
  width: calc(100% - 20rem);
}

.ClientFeedback--Content small {
  position: relative;
  padding-left: 2rem;
  font-size: 2.4rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
  display: block;
}

.ClientFeedback--Content small::before {
  position: absolute;
  content: '-';
  left: 0;
  top: 0;
}

.SingleProject--Pagination .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SingleProject--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
