.TeamMembers--Container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

@media (max-width: 600px) {
  .Team .TeamMembers--Container .TeamCard--Wrap {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .Team .TeamMembers--Container .TeamCard--Wrap {
    width: 100%;
  }
}
