.Dropzone div {
  width: 100% !important;
  height: auto !important;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-color: rgba(102, 102, 102, 0.3) !important;
  position: relative;
}
.Dropzone ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Dropzone .close {
  position: absolute;
  top: 0;
  right: 0;
}
