.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
  margin: 0 0 11rem 0;
}
.PageHeader .BackgroundImage {
  opacity: 0.7;
}

.PageHeader-large {
  padding: 20rem 0;
}
@media (max-width: 600px) {
  .PageHeader-large {
    padding: 10rem 0;
  }
  .PageHeader .container {
    width: 100%;
  }
}
.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 600px) {
  .PageHeader--Title {
    font-size: 3rem;
  }
}
.PageHeader--Subtitle {
  position: absolute;
  bottom: -32rem;
  left: 0;
  background: var(--darkGrey);
  padding: 6rem;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.25;
}
@media (max-width: 600px) {
  .PageHeader--Subtitle {
    bottom: -22rem;
    height: 10rem;
    font-size: 2rem;
  }
}

.PageHeader-split {
  padding: 0;
  margin: 0;
  height: 50rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.PageHeader-split-half {
  background: var(--darkGrey);
  padding: 0 6rem;
  height: 100%;
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 650px) {
  .PageHeader-split .BackgroundImage {
    display: block;
  }

  .PageHeader-split-half {
    width: 100%;
    padding: 0 3rem;
    background: rgba(39, 33, 33, 0.6);
  }

  .TeamCard--Popup-content {
    width: 95% !important;
    padding: 4rem !important;
    height: 80vh !important;
    overflow: scroll !important;
    display: block !important;
  }

  .TeamCard--Popup-content .Popup--Image,
  .Popup--Content {
    width: 100% !important;
    padding: 0 0 3rem !important;
  }
}

.PageHeader-split .PageHeader--Title {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: left;
  color: var(--col1);
}

.PageHeader-split .PageHeader--Subtitle {
  position: relative;
  bottom: 0;
  left: 0;
  background: transparent;
  padding: 0;
  height: auto;
  display: block;
  text-align: left;
  font-size: 2.8rem;
}

@media (max-width: 650px) {
  .PageHeader-split .PageHeader--Subtitle {
    font-size: 1.8rem;
  }
}
